.border-radius--small {
  border-radius: 4px;
}
.border-radius--medium {
  border-radius: 8px;
}
.border-radius--large {
  border-radius: 12px;
}
.inputClass {
  border: 1px solid #ac9797;
  padding: 10px;
  margin: 10px;
}