<h3>Angular Storybook POC (Proof of Concept)</h3>

<div>
  <h2>Two Cards</h2>
  <app-dynamic-card
    [cards]="twoCards"
    width="300px"
    height="200px"
    size="medium"
    (cardClick)="onCardClick($event)"
  ></app-dynamic-card>

  <h2>Three Cards</h2>
  <app-dynamic-card
    [cards]="threeCards"
    width="350px"
    height="250px"
    size="large"
    (cardClick)="onCardClick($event)"
  ></app-dynamic-card>

  <h2>Small Cards</h2>
  <app-dynamic-card
    [cards]="smallCards"
    width="200px"
    height="150px"
    size="small"
    (cardClick)="onCardClick($event)"
  ></app-dynamic-card>

  <h2>No Cards</h2>
  <app-dynamic-card
    [cards]="noCards"
    width="300px"
    height="200px"
    size="medium"
  ></app-dynamic-card>

  <h2>Single Card</h2>
  <app-dynamic-card
    [cards]="clickableCard"
    width="300px"
    height="200px"
    size="medium"
    (cardClick)="onCardClick($event)"
  ></app-dynamic-card>
</div>

<div>
  <h2>Medium Input</h2>
  <app-input
    [width]="'100px'"
    [height]="'20px'"
    (valueChange)="onValueChange($event)"
  ></app-input>

  <h2>Large Input</h2>
  <app-input
    [width]="'200px'"
    [height]="'40px'"
    (valueChange)="onValueChange($event)"
  ></app-input>

  <h2>Small Input</h2>
  <app-input
    [width]="'50px'"
    [height]="'15px'"
    (valueChange)="onValueChange($event)"
  ></app-input>

  <h2>Pre-filled Input</h2>
  <app-input
    [value]="'Hello, This is an input component.'"
    [size]="'small'"
    (valueChange)="onValueChange($event)"
  ></app-input>

  <h2>Pre-filled Example 2</h2>
  <app-input
    [value]="'Hello, This is an input component built using Angular.'"
    [size]="'large'"
    (valueChange)="onValueChange($event)"
  ></app-input>
</div>
